.container {
  width: 70%;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.container > p,
ul,
li {
  text-align: left;
}

.container > ul {
  margin-left: 40px;
}
