# ---- generated static files ----
static_root
webpack_output

# ---- text editor or IDE related ----
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
Session.vim
tags

# ---- dependencies ----
venv
node_modules

# ---- Mac nonsense ----
.DS_STORE

# ---- Python ----
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
*.db
*.log*


# ---- terraform ----
.terraform*
*.tfvars

.env
