.signup {
  margin: 0rem;
  font-size: 60px;
}

.signup_button {
  height: 30px;
  margin-bottom: 50px;
  font-size: 1rem;
}

.sign_up {
  font-size: 24px;
  height: auto;
  line-height: 40px;
  padding: 10px 5px 10px 5px;
  background-color: lightseagreen;
}

.met {
  color: green;
  text-align: center;
}

.not_met {
  text-align: center;
}

.loginButtonSpace {
  margin-top: 20px;
}

.col_1 {
  background-color: #94c732;
  min-width: 14rem;
}

.col_2 {
  background-color: #00bcd1;
  min-width: 14rem;
}

.signup_module {
  display: inline-block;
  padding: 3rem;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

span {
  vertical-align: center;
}
