.description {
  text-align: center;
  display: inline-block;
  max-width: 50rem;
  min-width: 35rem;
  background: white;
  box-shadow: 0px 3px 8px rgb(100, 100, 100);
  padding: 7px;
  border-radius: 20px;
}

div {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: 30px;
}

p {
  text-align: justify;
  padding: 0 20px 0 20px;
}

button {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: #f7943e;
}

button:hover {
  background-color: white;
}
