.donate_button {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 5rem;
  background-color: rgba(104, 253, 75, 0.719);
  width: 140px;
  border-radius: 69px;
  left: 100%;
  position: sticky;
  top: 21px;
}

.donation_blanket {
  overflow-y: hidden;
  height: 656px;
  margin-top: -328px;
}

.donation_header {
  background-color: rgba(217, 157, 255, 0.81);
}

.donation_close {
  position: absolute;
  bottom: -19px;
  right: -18px;
  background-color: lightcoral;
}

.par_container {
  width: 70%;
  margin: auto;
}

.par {
  text-align: justify;
}

.tg_top_space {
  margin-top: 8rem;
}

.lit {
  display: inline;
  list-style-type: none;
}

.tg_title {
  display: inline-block;
  font-size: 50px;
  max-height: 7rem;
  min-width: 12rem;
  position: relative;
  top: 5.9rem;
  z-index: 10;
  color: black;
  font-size: 3.5rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 3px 8px rgb(100, 100, 100);
  padding: 7px;
  animation: title_in;
  animation-direction: forwards;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

.a_top {
  display: inline-block;
  height: 5rem;
  text-decoration: none;
}

.a_top:hover {
  cursor: default;
}

.back_finger {
  position: relative;
  bottom: 2.4rem;
  opacity: 0%;
  color: white;
  display: inline-block;
  background: #5a38cc;
  border-radius: 20px;
  font-size: 3.5rem;
  z-index: 0;
  animation: finger_out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

.tg_title:hover {
  cursor: pointer;
  color: green;
  animation: title_out;
  animation-direction: forwards;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

@keyframes title_in {
  from {
    background: none;
    opacity: 0%;
  }
  to {
    background: white;
    opacity: 100%;
  }
}

@keyframes title_out {
  from {
    background: green;
    opacity: 0%;
  }
  to {
    background: none;
    opacity: 0%;
  }
}

.tg_title:hover ~ .back_finger {
  animation: finger;
  animation-direction: forwards;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

@keyframes finger_out {
  from {
    opacity: 100%;
    transform: rotate(180deg);
  }
  to {
    opacity: 0%;
    transform: rotate(0deg);
  }
}

@keyframes finger {
  from {
    opacity: 0%;
    transform: rotate(0deg);
  }
  to {
    opacity: 100%;
    transform: rotate(180deg);
  }
}
