.navbar {
  padding-top: 4rem;
}
.call_to_action {
  font-size: 1.5rem;
  padding: 28px;
}
.gallery_top {
  margin-bottom: 10rem;
}
@media (max-width: 475px) {
  .gallery_top {
    margin-bottom: auto;
  }
}
