<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A beatuiful and free way to feature students' musical creations."
    />
    <meta property="og:url" content="https://songmakergallery.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Song Maker Gallery" />
    <meta property="og:description" content="A beautiful and free way to feature students' musical creations." />
    <meta property="og:image" content="https://songmakergallery.com/static/frontend/media/sm_site_screenshot.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@500&display=swap" rel="stylesheet" />
    {% load static %}
    <link rel="shortcut icon" href="{% static "frontend/favicon.ico" %}" />
    <title>Song Maker Gallery</title>
    <link rel='stylesheet' href="{% static "/frontend/global_styles.css" %}" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="{% static "/frontend/webpack_output/main_v3.1.1.js" %}"></script>
  </body>
</html>
