.donation_blanket {
  max-width: 700px;
  text-align: justify;
  overflow-y: hidden;
  height: 656px;
  margin-top: -328px;
}

.donation_header {
  background-color: rgba(217, 157, 255, 0.81);
}

.donation_close {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-color: lightcoral;
  margin: 0;
}

.signature {
  position: relative;
  bottom: 30px;
  width: 178px;
  display: inline-block;
}

.par {
  text-align: justify;
}

@media (max-width: 830px) {
  .donation_blanket {
    height: 500px;
    width: 400px;
    margin-top: -250px;
    margin-left: -275px;
    border-radius: 20px 20px 20px 20px;
    overflow-y: scroll;
  }
  .donation_close {
    bottom: -180px;
    right: 1px;
  }
}

@media (max-width: 606px) {
  .donation_blanket {
    height: 500px;
    width: 300px;
    margin-top: -250px;
    margin-left: -150px;
    border-radius: 20px 20px 20px 20px;
    overflow-y: scroll;
  }
  .donation_close {
    bottom: -590px;
    right: 229px;
  }
  .signature {
    margin-top: 30px;
  }
  .footer {
    text-align: right;
  }
}
