*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: url("/static/frontend/background.png");
  background-size: 50vw;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@media (min-width: 475px) {
  html {
    scroll-behavior: smooth;
  }
}
