:local p {
  text-align: center;
}

:local button {
  height: 30px;
  margin-bottom: 50px;
  font-size: 1rem;
}

.sign_up {
  font-size: 24px;
  height: auto;
  line-height: 40px;
  padding: 10px 5px 10px 5px;
  background-color: lightseagreen;
}

.met {
  color: green;
}

.input {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.loginButtonSpace {
  margin-top: 20px;
}
