:local p {
  text-align: center;
}

h1 {
  padding-top: 0;
  font-size: 60px;
}

.signup_button {
  height: 30px;
  margin-bottom: 50px;
  font-size: 1rem;
}

.sign_up {
  font-size: 24px;
  height: auto;
  line-height: 40px;
  padding: 10px 5px 10px 5px;
  background-color: lightseagreen;
}

.met {
  color: green;
}

.loginButtonSpace {
  margin-top: 20px;
}

.col_1 {
  background-color: #94c732;
  min-width: 14rem;
}

.col_2 {
  background-color: #00bcd1;
  min-width: 14rem;
}
