.outerTable {
  margin: auto;
  padding-bottom: 20px;
  border-spacing: 0px;
  width: 100%;
}

@media (max-width: 500px) {
  .outerTable {
    width: 100%;
  }
}

.delete_confirm {
  background-color: maroon;
  color: white;
}

@media (max-width: 1170px) {
  .shaded_tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
  }

  .shaded_tr > td {
    font-size: 14px;
  }
}
